<div class="card">
<div class="card-header"><h2>Edit Pin</h2></div>
<div class="card-body">
<td><%= render 'form', pin: @pin %></td>
<td><%= link_to 'Show', @pin, class: 'btn btn-info' %></td>
<td><%= link_to 'Back',pins_path, class: 'btn btn-warning' %></td>
</div>
</div>
