<div class="card">
<div class="card-header"><h2>New Pin</h2></div>
<div class="card-body">
<%= render 'form', pin: @pin %>
<td><%= link_to 'Back', pins_path, class: 'btn btn-info' %></td>
</div>
</div>