<nav class="navbar navbar-default navbar-dark bg-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%= link_to 'Pinterested', root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <%= link_to 'Home', home_home_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'About Me', home_about_path, class: "nav-link" %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>